body {
    margin: 0;
    font-family: "Lato", sans-serif;
  }
  
  .sidebar {
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: #f1f1f1;
    position: fixed;
    height:69%;
    overflow: auto;
  }
  
  .sidebar a {
    display: block;
    color: black;
    padding: 16px;
    text-decoration: none;
  }
   
  .sidebar a.active {
    background-color: #04AA6D;
    color: white;
  }
  
  .sidebar a:hover:not(.active) {
    background-color: #555;
    color: white;
  }
  
  div.content {
    display:'flex';
    justify-content: center;
    /* margin-left: 43rem; */
    align-items: center;
    /* padding: 40px 36px; */
    height: auto; 
    flex: 1;
    padding: 20px;
  
  }
  .cardd {
    width: 100%;
    max-width: 550px;
    height: 250px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .button-container {
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
  }
  
  @media screen and (max-width: 700px) {
    .sidebar {
      width: 100%;
      height: auto;
      position: relative;
    }
    .sidebar a {float: left;}
    div.content {margin-left: 0;}
  }
  
  @media screen and (max-width: 400px) {
    .sidebar a {
      text-align: center;
      float: none;
    }
  }


  /* .report-container {
    display: flex;
    justify-content: space-between;
    padding: 20px;
  }
  
  .sidebar {
    background-color: #333;
    color: white;
    width: 200px;
    padding: 20px;
  }
  
  .sidebar a {
    display: block;
    margin-bottom: 10px;
    text-decoration: none;
    color: white;
  }
  
  .sidebar a.active {
    font-weight: bold;
  }
  
  .content {
    flex: 1;
    padding: 20px;
  }
  
  .card {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .button-container {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
  } */
  